# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.9.0=pypi_0
backports-csv=1.0.7=pypi_0
bert-dp=1.0=pypi_0
bert-embedding=1.0.1=pypi_0
bert-serving-client=1.10.0=pypi_0
bert-serving-server=1.10.0=pypi_0
ca-certificates=2019.11.27=0
conda-package-handling=1.6.0=py37h62dcd97_0
dawg-python=0.7.2=pypi_0
diff-match-patch=20181111=py_0
email-validator=1.0.5=pypi_0
en-core-web-lg=2.2.5=pypi_0
en-core-web-md=2.2.5=pypi_0
en-core-web-sm=2.2.5=pypi_0
google-pasta=0.1.8=pypi_0
intel-openmp=2019.4=245
ipython-genutils=0.2.0=pypi_0
jaraco-classes=3.1.0=pypi_0
jaraco-collections=3.0.0=pypi_0
jaraco-functools=3.0.0=pypi_0
jaraco-text=3.2.0=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.0=pypi_0
lazy-object-proxy=1.4.3=py37he774522_0
mkl-service=2.3.0=py37hb782905_0
more-itertools=8.0.2=py_0
natto-py=0.9.0=pypi_0
pdfminer-six=20191110=pypi_0
prompt-toolkit=2.0.10=pypi_0
pymorphy2-dicts=2.4.393442.3710985=pypi_0
pymorphy2-dicts-ru=2.4.404381.4453942=pypi_0
python-dateutil=2.8.0=pypi_0
python-docx=0.8.10=pypi_0
python-graphviz=0.8.4=pypi_0
python-jsonrpc-server=0.3.2=py_0
python-language-server=0.31.2=py37_0
pywin32-ctypes=0.2.0=py37_0
scikit-learn=0.21.2=pypi_0
smart-open=1.9.0=pypi_0
sphinxcontrib-applehelp=1.0.1=py_0
sphinxcontrib-devhelp=1.0.1=py_0
sphinxcontrib-htmlhelp=1.0.2=py_0
sphinxcontrib-jsmath=1.0.1=py_0
sphinxcontrib-qthelp=1.0.2=py_0
sphinxcontrib-serializinghtml=1.1.3=py_0
spyder-kernels=1.8.1=py37_0
tensorflow-estimator=1.14.0=pypi_0
tensorflow-hub=0.7.0=pypi_0
tiny-tokenizer=3.0.1=pypi_0
xx-ent-wiki-sm=2.2.0=pypi_0
zc-lockfile=2.0=pypi_0
